* {
  font-family: "MesloLGLDZ Nerd Font";
  font-size: 12px;
  font-weight: 500;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.4);
  transition-duration: 100ms;
}

button {
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: transparent;
}

button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
}

#window {
  color: rgba(255, 255, 255, 0.596);
}

#workspaces {
  background-color: transparent;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button {
  padding: 0 5px;
  color: #eb4d4b;
  background: transparent;
  transition-duration: 0.35s;
}

#workspaces button.active {
  color: cornflowerblue;
  box-shadow: none;
}

#workspaces button.urgent {
  color: aquamarine;
}

.module-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.module-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#custom-battery {
  margin-right: 10px;
}

#cpu,
#temperature,
#memory,
#pulseaudio,
#custom-battery,
#custom-netwifi,
#custom-netblu,
#custom-timedate {
  color: rgba(255, 255, 255, 0.596);
}

#custom-netwifi,
#custom-netblu {
  font-size: 14px;
}

#pulseaudio,
#custom-battery {
  font-size: 13px;
}

#battery.charging {
  color: green;
}

#pulseaudio.muted {
  color: rgba(255, 0, 0, 0.4);
}

#custom-power-menu {
  padding-left: 10px;
  font-size: 20px;
  color: cornflowerblue;
}
