* {
  font-family: "MesloLGLDZ Nerd Font";
  font-size: 12px;
  font-weight: 500;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 100ms;
}

button {
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: transparent;
}

button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

#window {
  margin-top: 5px;
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.596);
}

#workspaces {
  background: #B8B0D7;

  margin-top: 5px;
  /* margin-bottom: 5px; */

  padding-left: 4px;
  padding-right: 0px;
  padding-top: 4px;
  padding-bottom: 4px;

  border-radius: 6px;
}

#workspaces button {
  color: #B8B0D7;
  background: #463682;

  margin-right: 4px;

  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 8px;
  padding-right: 8px;

  transition-duration: 0.35s;
  border-radius: 4px;
  font-weight: 900;
}

#workspaces button.active {
  background: #22095D;

  padding-left: 15px;
  padding-right: 15px;

  box-shadow: none;
}

#workspaces button.urgent {
  color: red;
}

#custom-power-menu {
  margin-right: 15px;
}

#cpu,
#memory,
#pulseaudio,
#custom-battery,
#custom-keyboard-brightness,
#custom-timedate {
  color: #22095D;
  background: #B8B0D7;

  margin-top: 5px;
  /* margin-bottom: 5px; */

  padding-left: 8px;
  padding-right: 8px;

  border-radius: 8px;
  font-weight: 500;
}

#custom-timedate {
  font-weight: 600;
}

#custom-netwifi,
#custom-netblu,
#custom-notification,
#custom-power-menu {
  color: #B8B0D7;
  background: transparent;
  font-size: 14px;

  margin-top: 5px;
  /* margin-bottom: 5px; */
}

#custom-notification {
  margin-left: 8px;
  padding-right: 5px;
}

#pulseaudio,
#custom-battery {
  /* font-size: 13px; */
}

#pulseaudio.muted {
  color: rgba(255, 0, 0, 0.4);
}

#custom-app-menu {
  color: #B8B0D7;
  background: #22095D;

  margin-top: 5px;
  /* margin-bottom: 5px; */
  margin-left: 10px;

  padding-left: 10px;
  padding-right: 10px;

  border-radius: 6px;
  font-weight: 900;
}
