@import 'color.css';

* {
  font-family: "MesloLGLDZ Nerd Font";
  font-size: 12px;
  font-weight: 500;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 100ms;
}

button {
  color: transparent;
  border: none;

  border-radius: 0;
  box-shadow: none;
}

button:hover {
  background: none;
  box-shadow: none;
  text-shadow: none;
  transition: none;
}

#custom-app-menu {
  color: @text;
  background: @primary;

  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;

  padding-left: 15px;
  padding-right: 15px;

  border-radius: 25px;
  font-weight: 900;
}

#workspaces {
  background: @primary-xl;
  border: solid 1px @secondary;

  margin-top: 5px;

  padding-left: 4px;
  padding-right: 0px;
  padding-top: 4px;
  padding-bottom: 4px;

  border-radius: 25px;
}

#workspaces button {
  color: @text;
  background: @primary;

  margin-right: 4px;

  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 8px;
  padding-right: 8px;

  border-radius: 25px;
  font-weight: 900;
  transition-duration: 0.35s;
}

#workspaces button.active {
  color: @secondary;
  background: @primary-l;

  padding-left: 15px;
  padding-right: 15px;

  box-shadow: none;
}

#workspaces button.urgent {
  color: red;
}

#window {
  color: @text;
  background: @primary;
  border: solid 1px @secondary;

  margin-top: 5px;
  margin-left: 10px;

  padding-left: 20px;
  padding-right: 20px;

  border-radius: 25px;
}

window#waybar.empty #window {
  background: transparent;
  border: none;
}

#custom-timedate-music,
#cpu,
#memory,
#custom-keyboard-brightness,
#pulseaudio,
#custom-battery {
  color: @text;
  background: @primary;
  border: solid 1px @secondary;

  margin-top: 5px;

  padding-left: 8px;
  padding-right: 8px;

  font-weight: 500;
}

#custom-timedate-music {
  border: solid 1px @secondary;

  padding-left: 15px;
  padding-right: 15px;

  border-radius: 25px;
  font-weight: 600;
}

#cpu {
  padding-left: 10px;
  padding-right: 10px;

  border-top-left-radius : 25px;
  border-bottom-left-radius : 25px;
}

#memory {
  padding-right: 10px;
}

#pulseaudio.muted {
  color: rgba(255, 0, 0, 0.4);
}

#custom-battery {
  padding-right: 10px;

  border-top-right-radius : 25px;
  border-bottom-right-radius : 25px;
}

#custom-netwifi,
#custom-netblu,
#custom-notification,
#custom-power-menu {
  color: @text;
  background: transparent;
  font-size: 14px;

  margin-top: 5px;
  margin-left: 10px;
}

#custom-notification {
  margin-left: 18px;
  padding-right: 8px;
}

#custom-power-menu {
  margin-right: 25px;
}
